<div class="mb-3">
    <label for="titleInput">タイトル</label>
    <input type="text" id="titleInput" class="form-control"
           th:errorclass="is-invalid"
           th:classappend="${#fields.hasErrors('*')} ? 'is-valid'"
           th:field="*{title}"
           required>
    <div class="invalid-feedback" th:errors="*{title}"></div>
</div>
<div class="mb-3">
    <label for="authorInput">著者</label>
    <input type="text" id="authorInput" class="form-control"
           th:errorclass="is-invalid"
           th:classappend="${#fields.hasErrors('*')} ? 'is-valid'"
           th:field="*{author}"
           required>
    <div class="invalid-feedback" th:errors="*{author}"></div>
</div>
