<!DOCTYPE html>
<html lang="ja"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="utf-8"/>
    <title>書籍登録</title>
</head>
<body>
<section layout:fragment="content">
    <h1 class="mb-3 mt-3">書籍登録</h1>
    <form th:action="@{/admin/books}" method="post" th:object="${form}">
        <div th:replace="admin/book/_form"></div>
        <button type="submit" class="btn btn-primary mb-3">登録</button>
        <a th:href="@{/admin/books}" class="btn btn-secondary mb-3">戻る</a>
    </form>
</section>
</body>
</html>