<!DOCTYPE html>
<html lang="ja"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="utf-8"/>
    <title>Login</title>
</head>
<body>
<section layout:fragment="content" class="mx-auto">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Sign in</h1>
                <div class="text-danger" th:if="${param.error}">
                    Invalid username and password.
                </div>
                <div class="text-danger" th:if="${param.logout}">
                    You have been logged out.
                </div>
                <form th:action="@{/login}" method="post">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="usernameInput" name="username"
                               placeholder="usrename">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="passwordInput" name="password"
                               placeholder="email">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>
